body {
    background-image: url("../image/bg _gray.jpg");
}
.form-group input {
    background: transparent;
    border-color: rgba(0, 0, 0, 6);
    color: #000;
}
.panel {
    background-color: rgba(0, 0, 0, 0);
}
.datagrid-row:hover {
    background-color: #E0ECFF;
    opacity: 0.7;
    border: #000000 solid 5px;
}
.btn-default {
    color: #000;
    border: #000 solid 1px;
    background-color: rgba(0, 0, 0, 0);
}
.bootstrap-switch .bootstrap-switch-label{
    background-color: rgba(0, 0, 0, 0) !important;
    border: #000 solid 1px !important;
    color: #000 !important;
}

.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-default {
    background-color: rgba(0, 0, 0, 0) !important;
}

